/* :root {
  --font-sans: "Recursive", ui-sans-serif, system-ui, sans-serif;
  --font-serif: Moranga, "Georgia Pro", Georgia, serif;
  --font-mono: "Recursive";
}

@font-face {
  font-family: Moranga;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/fonts/Moranga-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Moranga;
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/static/fonts/Moranga-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Recursive;
  font-style: normal;
  font-weight: 300 1000;
  font-display: swap;
  src: url("/static/fonts/Recursive_Variable.woff2") format("woff2");
} */

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 3em auto;
  font-family: var(--font-sans);
  display: grid;
  height: 100vh;
  place-items: center;
  color: #666;
}

html, body {
    height: 100%;
    margin: 0;
}



main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-weight: normal;
  color:#000;
}

h1.hello {
  font-size: 4em;
  line-height: 1em;
  padding: 0;
}

h1.hello p {
  line-height: 1;
  margin: 0.3em;
}

a:link,
a:visited {
  color: #000;
  text-decoration: underline;
}
a:hover,
a:focus,
a:active {
  color: #0077cc;
  text-decoration: underline;
}

.deploy-logo {
  width: 1.5em;
}

hr {
  margin: 4em -4em;
}

ul {
  list-style-position: inside;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1.5 ;
}


footer {
  margin-top: 6em;
}

footer ul {
  list-style-type: none;
}
footer ul li {
  display: inline-block;
  padding: 0 0.2em;
}