---
import Layout from '../../layouts/Page.astro';

const content = {
  title: 'Dynamic Routes',
  description: 'A demo of dynamic routes with Astro'
}
const { username } = Astro.params;

const usernames = [
  'lambtron',
  'hello',
  'world'
];

export async function getStaticPaths() {
  // `usernames` not defined here. Why's that?
  const usernames = [
    'lambtron',
    'hello',
    'world'
  ];
  const staticPaths = usernames.map((username) => {
    return { params: { username: username }};
  });
  return staticPaths;
}

---
<Layout {content}>
  <h2>Hello, {username}!</h2>
  <p>
    This page grabs the `username` from the route `/users/:username`.
  </p>
  <p>
    Here are other users dynamically generated at build time:
    <ul>
      {usernames.map(username => <li><a href={`/users/${username}`}>{username}</a></li>)}
    </ul>
  </p>
  <p>
    Since <a href="https://astro.build" target="_blank">Astro</a> is a static-site generator, you must <a href="https://docs.astro.build/en/core-concepts/routing/" target="_blank">pre-define which routes to dynamically generate</a>.
  </p>
</Layout>
